.idea/
__pycache__/
*.py[cod]
*.env
.venv/
venv/
*.egg-info/
dist/
build/
.DS_Store

.ipynb_checkpoints/
.jupyter/
src/database/BindingDB_All_202605_tsv.zip
src/database/unique_pdb_cache.csv
nano_notebooks/notebook_database/unique_pdb_cache.csv
nano_notebooks/notebook_database/AA3D_df.csv
nano_notebooks/notebook_database/unique_smiles_strings.csv
nano_notebooks/notebook_database/molfp_df.csv
nano_notebooks/notebook_database/all_pairs_df.csv

