.idea/
__pycache__/
*.py[cod]
*.env
.venv/
venv/
*.egg-info/
dist/
build/
.DS_Store

.ipynb_checkpoints/
.jupyter/
database/BindingDB_All_202605_tsv.zip
src/nano_maker/modules/data_handling/unique_pdb_cache.csv
src/nano_maker/container/*.pt

database/unique_pdb_cache.csv
database/AA3D_df.csv
database/unique_smiles_strings.csv
database/SMILE_2_PDBhits.csv
database/SCAFFOLD_SMILES_2_PDBhits.csv
database/molfp_df.pkl